@font-face {
    src: url("../fonts/vazir/Vazir.woff2");
    font-family: vazir;
}
@font-face {
    src: url("../fonts/vazir/Vazir-Bold.woff2");
    font-family: vazir-bold;

}
@font-face {
    src: url("../fonts/vazir/Vazir-Medium.woff2");
    font-family: vazir-medium;
}
@font-face {
    src: url("../fonts/vazir/Vazir-Thin.woff2");
    font-family: vazir-thin;
}
@font-face {
    src: url("../fonts/vazir/Vazir-Light.woff2");
    font-family: vazir-light;
}
@font-face {
    src: url("../fonts/iransans/IRANSansWeb(FaNum).woff2");
    font-family: iransans;
}
@font-face {
    src: url("../fonts/iransans/IRANSansWeb(FaNum)_Bold.woff2");
    font-family: iransans-bold;
}
@font-face {
    src: url("../fonts/iransans/IRANSansWeb(FaNum)_Light.woff2");
    font-family: iransans-light;
}
@font-face {
    src: url("../fonts/iransans/IRANSansWeb(FaNum)_Medium.woff2");
    font-family: iransans-medium;
}
@font-face {
    src: url("../fonts/iransans/IRANSansWeb(FaNum)_UltraLight.woff2");
    font-family: iransans-ultralight;
}
@font-face {
    src: url("../fonts/fontawsome/fontawesome-webfont.woff2");
    font-family: fontawsome;
}